.notion-page {
    @apply -top-8 lg:-top-24 pb-64 !important;
    @apply text-white z-10;

    /* Layout */
    @apply px-4 !important;

    .notion-column {
        @apply px-4;
    }

    /* Title etc */

    .notion-title {
        @apply font-sans text-4xl lg:text-7xl font-bold;
        @apply relative w-full lg:w-[50vw] lg:ml-24;
        @apply text-white;
        @media screen and (min-width: 1024px) {
            left: calc(-50vw + 50%);
        } 
        span { @apply relative z-20; }
        .highlighter {
            @apply w-full absolute top-0 z-10 lg:-left-8;
        }
        /* span { 
            @apply relative z-20; 
            background-image: url('./assets/highlighter_01.svg');
            background-size: 90% 100%;
            background-size: cover;
            background-repeat: repeat-y;
            background-position: 50% 50%;
            background-clip: padding-box;
            background-position-x: left;
        }
        &::before {
            @apply block;
            content: '';
            background-image: url('./assets/highlighter_01.svg');
            @apply bg-no-repeat bg-contain;
            @apply w-full h-full -left-6 -top-2 absolute z-10;
        } */
    }

    /* First paragraph, the "lede" */
    .notion-title + .notion-text {
        /* Base */
        @apply text-white;
        @apply text-xl leading-7 relative mb-8;
        /* Desktop */
        @media screen and (min-width: 1024px) {
            @apply text-3xl leading-9;
            @apply w-[40vw] mb-32 ml-24;
            left: calc(-50vw + 50%);
        }
        /* &::after {
            @apply block;
            content: '';
            @apply w-[50%] mt-12 mb-8 h-1 bg-gradient-to-r from-purple-500 to-cyan-400;
        } */
    }

    /* Quick facts */
    .quick-facts {
        /* Universal */
        @apply border-violet-500 z-20;
        /* Mobile */
        @apply border-l-8 border-r-0;
        @apply -ml-4 pl-6;
        /* Desktop */
        @media screen and (min-width: 1024px) {
            @apply border-r-8 border-l-0 absolute;
            @apply top-44 w-80;
            @apply text-right pr-16;
        }

        /* Remove Notion's padding */
        div, span { @apply ml-0; }

        right: calc(-50vw + 50%);
        summary {
            @apply text-gray-400 font-mono text-sm uppercase;
            @apply list-none;
        }
        .notion-list {
            list-style-type: none;
            @apply px-0 lg:mt-4 text-gray-400;
            li { @apply flex flex-col lg:justify-end lg:items-end };
            .label, b { @apply font-bold text-white block }
            .value { @apply text-gray-400 }
        }
    }

    /* Text */

    .notion-text {
        @apply text-lg text-zinc-300 leading-7 mb-2;
    }

    .notion-gray { @apply text-zinc-400; }

    .notion-list {
        @apply text-lg text-zinc-200;
    }

    .notion-h1 {
        @apply relative z-20 w-full;
        span { @apply w-auto; }
        /* &::after {
            @apply block;
            content: '';
            background-image: url('./assets/highlight_01.svg');
            @apply bg-no-repeat bg-contain;
            @apply w-full h-6 -left-6 -top-2 absolute;
        } */
        /* &:after {
            @apply block;
            content: '';
            @apply bg-no-repeat bg-contain;
            @apply bg-gradient-to-r from-purple-500 to-cyan-400;
            @apply w-[60%] h-1 flex-shrink top-4 relative;
        } */
    }

    [class^="notion-h"] {
        @apply relative z-20 w-full mb-4;
        span { @apply w-auto; }
        line-height: 130%;
        &:after {
            /* @apply block;
            content: '';
            background-image: url('./assets/highlight_01.svg');
            @apply bg-no-repeat bg-contain;
            @apply w-full h-6 -left-6 -top-2 absolute; */
        }

        [class^="notion-"] { @apply block; }
    }


    /* Notion images & figures */

    .notion-row {
        @apply w-screen relative;
        max-width: 100vw;
        margin: 0 calc(-50vw + 50%);
        /* left: -80%; */
    }

    /* .notion-column { @apply px-8; } */
    /* .notion-column {
        .notion-text, .notion-callout, .notion-h2, .notion-h1 { @apply w-[80%] mx-auto; }
    } */


    /* Lists */
    .notion-list {
        /* line-height: 120%; */
        @apply mb-1;
    }

    /* Quotes */

    .notion-quote + .notion-quote { @apply mt-12; }

    .notion-quote {
        /* Base */
        @apply relative z-20 block border-none font-bold;
        @apply text-xl font-bold my-4;
        /* Desktop */
        @media screen and (min-width: 1024px) {
            @apply text-4xl my-20;
        }
        &:after {
            @apply block;
            content: '';
            background-image: url('./assets/sparkle.svg');
            @apply bg-no-repeat bg-contain;
            @apply w-full h-12 -left-4 -top-8 absolute;
        }

        /* Attributions */
        .notion-gray {
            @apply text-sm text-gray-400 font-normal uppercase font-mono;
        }
    }
    /* Highlights */

    .notion-yellow_background { @apply bg-yellow-200 px-1 text-gray-800; }
    .notion-purple_background { @apply bg-purple-600 px-1 text-white; }

    /* Callouts */
    .notion-callout,
    .notion-callout.notion-purple_background {
        .notion-callout-text { @apply pr-4;}
        @apply text-white border-none my-0;
        overflow: visible;
        /* @apply bg-gradient-to-r from-purple-500 to-cyan-400; */
        @apply relative z-20;
        &::before {
            @apply block absolute top-0 left-0 rounded;
            z-index: -1;
            content: '';
            @apply bg-zinc-800;
            @apply w-full h-full;
        }
        &::after {
            @apply block absolute rounded;
            z-index: -2;
            content: '';
            @apply bg-gradient-to-tr from-purple-500 to-cyan-400;
            @apply shadow-violet-500/30 shadow-lg;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            top: -1px;
            left: -1px;
        }
        /* @apply shadow-xl shadow-violet-500/30; */
        @media screen and (min-width: 1024px) {
            @apply my-2;
        }
    }
}


.page-projects-id .notion-page {
    .notion-row .notion-column {
        @apply px-4;

        @media screen and (min-width: 1024px) {
            @apply px-8 mb-32;
        }
    }
    .notion-row .notion-column .notion-asset-wrapper {
        @apply w-full !important;
        @apply px-0;

        @media screen and (min-width: 1024px) {
            /* @apply px-6 mb-32; */
        }
    }
    
    .notion-asset-wrapper {
        @apply w-screen !important;
        @apply px-0 lg:px-6 lg:my-32;
        @apply my-6;
    }

    .notion-asset-wrapper img {
        @apply w-screen h-auto;
        max-width: 100%;
    }
    
    .notion-asset-wrapper div {
        @apply h-auto w-screen;
        max-width: 95vw;
    }

    .notion-image-caption {
        @apply text-gray-400 text-sm font-light mt-2 text-center;
        @apply font-mono uppercase;
    }

    .notion-asset-wrapper + .notion-asset-wrapper {
        @apply mt-0;
    }
}